@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

#root{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-wrapper{
    max-width: 1200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:cadetblue;

}

.header-main-wrapper{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.footer-main-wrapper{
    display: flex;
    gap:20px;
    flex-direction: row;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.delete-all-btn,
.delete-last-btn,
.add-to-do-btn,
.show-all-btn,
.show-compl-btn{
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    cursor: pointer;
    width: 100px;
}

input{
    height: 50px;
}
.to-do-input
{
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
}

    .search-input{
        width: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.all-counter,
.compl-counter{
    width: 100px;
    
}

.to-do-Wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:cadetblue;
}

.to-do-Title{
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;

}

.checkbox{
    width: 50px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.cross{
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.completed{
    background-color: green;
}
